/*Botones del header*/
.btn-login {
    width: 182px;
    height: 51px;
    border: 1px solid #2A7AE4;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2A7AE4;
    background-color: transparent;
}

.btn-menu-adm {
    width: 182px;
    height: 51px;
    border: 1px solid #2A7AE4;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2A7AE4;
    background-color: transparent;
}
/*Boton del banner */
.banner__btn {
    width: 129px;
    height: 51px;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--background-color3);
    border: none;
}
/*Boton login*/
.login-btn {
    width: 100%;
    min-width: 275px;
    max-width: 423px;
    height: 51px;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 15px;
    background-color: var(--background-color3);
    border: none;
    color: var(--text-color);
}
/*Boton agregar nuevo producto*/
.add-btn {
    width: 100%;
    height: 51px;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 15px;
    background-color: var(--background-color3);
    border: none;
    color: var(--text-color);
}
/*Boton agregar producto*/
.btn-add-producto {
    width: 163px;
    height: 51px;
    background-color: var(--background-color3);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    border: none;
    margin-right: 16px;
}
/*Boton contacto*/
.form-btn {
    width: 144px;
    height: 51px;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 15px;
    background-color: var(--background-color3);
    border: none;
    color: var(--text-color);
}
/* Cursor pointer*/
.btn-login:hover,
.btn-menu-adm:hover,
.form-btn:hover,
.login-btn:hover,
.add-btn:hover,
.btn-add-producto:hover {
    cursor: pointer;
}

@media (max-width:768px) {
    .btn-login {
        width: 166px;
        height: 40px;
    } 
}

@media (max-width:767px) {
    .btn-login {
        width: 133px;
    }
    .btn-menu-adm {
        width: 155px;
    }
}
@media (max-width:425px) {
    .banner__btn {
        font-size: 1.4rem;
        width: 118px;
        height: 40px;
    }
}